/** Home page **/

.homepage {
  width: 100%;
  max-width: 1450px;
  height: auto;
  background: #fff;
  margin: 0 auto;
}

/** Printing **/

.homepage .printing {
  width: 100%;
  height: auto;
  padding: 0 80px;
}

.homepage .printing h4 {
  font-family: "Gilroy";
  font-size: 40px;
  font-weight: 500;
  line-height: 56px;
  text-align: center;
  margin: 167px 0 0 0;
}

.homepage .printing h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 78.4px;
  text-align: center;
  margin: 0;
}

.homepage .printing img {
  width: 100%;
  height: 656px;
  border-radius: 32px;
  margin-top: 24px;
}

@media (max-width: 450px) {
  .homepage .printing {
    padding: 0 20px;
  }

  .homepage .printing h4 {
    font-size: 16px;
    line-height: 19.41px;
    margin: 152px 0 0 0;
  }

  .homepage .printing h1 {
    font-size: 24px;
    line-height: 31.6px;
  }

  .homepage .printing img {
    height: 360px;
  }
}

/** About us **/

.homepage .about-us {
  width: 100%;
  height: 477px;
  padding: 0 80px;
  margin-top: 100px;
  display: flex;
  flex-direction: row;
}

.homepage .about-us .about-left {
  width: 50%;
  height: auto;
  padding-right: 150px;
}

.homepage .about-us .about-left h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 69.33px;
  margin: 0;
}

.homepage .about-us h3 {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin: 10px 0;
}

.homepage .about-us .about-left p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
}

.homepage .about-us .about-left .about-btn {
  width: 276px;
  height: 56px;
  border-radius: 12px;
  background: #181818;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 29.4px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  margin-top: 15px;
}

.homepage .about-us .about-left .arrowRight-icon {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

.homepage .about-us .about-right {
  width: 50%;
  height: auto;
  padding: 70px 0 0 140px;
}

.homepage .about-us .about-right .title {
  border-bottom: 1px solid #e8e8e8;
}

.homepage .about-us .about-right .content-frame {
  width: 100%;
  height: 115px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-top: 20px;
}

.homepage .about-us .about-right .content-frame h4 {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  line-height: 29.71px;
  color: #181818;
  margin: 0;
}

.homepage .about-us .about-right .content-frame p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  line-height: 22.4px;
  color: #848484;
  margin: 8px 0 0 0;
}

@media (max-width: 450px) {
  .homepage .about-us {
    height: 585px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
  }

  .homepage .about-us .about-left {
    width: 100%;
    padding-right: 20px;
  }

  .homepage .about-us .about-left h1 {
    font-size: 32px;
    line-height: 39.62px;
  }

  .homepage .about-us h3 {
    font-size: 18px;
    line-height: 25.2px;
  }

  .homepage .about-us .about-left p {
    font-size: 12px;
    line-height: 16.8px;
  }

  .homepage .about-us .about-left .about-btn {
    width: 218px;
    height: 48px;
    font-size: 16px;
    line-height: 22px;
  }

  .homepage .about-us .about-right {
    width: 100%;
    padding: 0;
  }

  .homepage .about-us .about-right .content-frame {
    height: 70px;
    gap: 12px;
  }

  .homepage .about-us .about-right .content-frame img {
    width: 70px;
    height: 70px;
  }

  .homepage .about-us .about-right .content-frame h4 {
    font-size: 18px;
    line-height: 22.28px;
  }

  .homepage .about-us .about-right .content-frame p {
    font-size: 12px;
    line-height: 16.8px;
  }
}

@media (max-width: 415px) {
  .homepage .about-us h3 {
    font-size: 16px;
  }
}

/** Services **/

.homepage .services {
  width: 100%;
  height: 477px;
  padding: 0 82px;
  margin-top: 100px;
}

.homepage .services h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: center;
  margin: 0 0 56px 0;
}

.homepage .services .services-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.homepage .services .services-frame .box-frame {
  width: 404px;
  height: 352px;
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  background: #f9f9f9;
  padding: 32px 18px 32px 32px;
  position: relative;
}

.homepage .services .services-frame .box-frame .box-img {
  width: 72px;
  height: 72px;
  border-radius: 16px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.homepage .services .services-frame .box-frame h3 {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  line-height: 29.71px;
  margin: 0;
}

.homepage .services .services-frame .box-frame p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #6b6d81;
  margin: 10px 0 16px 0;
}

.homepage .services .services-frame .box-frame .box-btn {
  width: 131px;
  height: 36px;
  border-radius: 12px;
  box-shadow: none;
  background: #181818;
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  position: absolute;
  bottom: 30px;
}

@media (max-width: 450px) {
  .homepage .services {
    height: auto;
    padding: 0 20px;
    margin-top: 50px;
  }

  .homepage .services h1 {
    font-size: 32px;
    line-height: 39.62px;
    margin: 0 0 20px 0;
  }

  .homepage .services .services-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .homepage .services .services-frame .box-frame {
    width: 100%;
    height: 328px;
  }

  .homepage .services .services-frame .box-frame h3 {
    font-size: 18px;
    line-height: 22.28px;
  }

  .homepage .services .services-frame .box-frame p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media (max-width: 415px) {
  .homepage .services .services-frame .box-frame p {
    font-size: 12px;
  }
}

/** Portfolio **/

.homepage .portfolio {
  width: 100%;
  height: auto;
  padding: 0 79px;
  margin-top: 130px;
}

.homepage .portfolio h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: center;
  margin-bottom: 56px;
}

.homepage .portfolio .portfolio-box .p-box-img {
  width: 406px;
  height: 373px;
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.homepage .portfolio .portfolio-box h3 {
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 700;
  line-height: 33.6px;
  margin: 22px 0 8px 0;
}

.homepage .portfolio .portfolio-box p {
  font-family: "Gilroy";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.41px;
  color: #6b6d81;
  margin: 0;
}

.homepage .portfolio .portfolio-btn {
  width: 288px;
  height: 56px;
  border-radius: 12px;
  background: #181818;
  font-family: "Gilroy";
  font-size: 24px;
  font-weight: 600;
  line-height: 29.4px;
  color: #fff;
  text-decoration: none;
  text-transform: none;
  margin: 56px auto 0 auto;
}

.homepage .portfolio .arrowRight-icon {
  font-size: 28px;
  font-weight: 700;
  color: #fff;
}

@media (max-width: 450px) {
  .homepage .portfolio {
    padding: 0 20px;
    margin-top: 50px;
  }

  .homepage .portfolio h1 {
    font-size: 32px;
    line-height: 39.62px;
    margin-bottom: 50px;
  }

  .homepage .portfolio .portfolio-box .p-box-img {
    width: 100%;
  }

  .homepage .portfolio .portfolio-box h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .homepage .portfolio .portfolio-box p {
    font-size: 14px;
    line-height: 15.98px;
  }

  .homepage .portfolio .portfolio-btn {
    width: 227px;
    height: 48px;
    font-size: 18px;
    line-height: 22px;
    margin: 32px auto 0 auto;
  }

  .homepage .portfolio .arrowRight-icon {
    font-size: 22px;
  }
}

/** Numbers **/

.homepage .numbers {
  width: 100%;
  height: 319px;
  padding: 0 79px;
  margin-top: 120px;
}

.homepage .numbers h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: center;
  margin: 0 0 56px 0;
}

.homepage .numbers .numbers-frame {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 32px;
}

.homepage .numbers .numbers-frame .box-frame {
  width: 406px;
  height: 194px;
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  background: #f9f9f9;
  padding: 40px 32px;
}

.homepage .numbers .numbers-frame .box-frame h3 {
  font-family: "Gilroy";
  font-size: 20px;
  font-weight: 500;
  line-height: 24.26px;
  margin: 0;
  color: #848484;
}

.homepage .numbers .numbers-frame .box-frame p {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 78.4px;
  color: #181818;
  margin: 12px 0;
}

@media (max-width: 450px) {
  .homepage .numbers {
    height: 686px;
    padding: 0 20px;
    margin-top: 50px;
  }

  .homepage .numbers h1 {
    font-size: 32px;
    line-height: 39.62px;
    margin: 0 0 32px 0;
  }

  .homepage .numbers .numbers-frame {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .homepage .numbers .numbers-frame .box-frame {
    width: 100%;
  }

  .homepage .numbers .numbers-frame .box-frame h3 {
    font-size: 18px;
    line-height: 21.83px;
  }

  .homepage .numbers .numbers-frame .box-frame p {
    font-size: 50px;
    line-height: 70px;
  }
}

/** Partners **/

.homepage .partners {
  width: 100%;
  height: 600px;
  padding: 0 80px;
  margin-top: 120px;
}

.homepage .partners h1 {
  font-family: "Gilroy";
  font-size: 56px;
  font-weight: 700;
  line-height: 69.33px;
  text-align: center;
  margin: 0 0 56px 0;
}

.homepage .partners .partners-frame {
  width: 100%;
  height: 370px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

.homepage .partners .partners-frame .box-frame {
  width: 237px;
  height: 173px;
  border: 1px solid #e8e8e8;
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage .partners .partners-frame .box-frame img {
  width: 150px;
  height: 150px;
  object-fit: contain;
}

.homepage .partners .pagination-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-top: 56px;
}

.homepage .partners .pagination-section .pagination-arrow {
  width: 40px;
  height: 40px;
  border: 2px solid #848484;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.homepage .partners .pagination-section .pagination-arrow .arrow {
  font-size: 24px;
  color: #848484;
}

@media (max-width: 450px) {
  .homepage .partners {
    height: 440px;
    padding: 0 20px;
    margin-top: 50px;
  }

  .homepage .partners h1 {
    font-size: 32px;
    line-height: 44.8px;
    margin: 0 0 32px 0;
  }

  .homepage .partners .partners-frame {
    height: 291px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 12px;
  }

  .homepage .partners .partners-frame .box-frame {
    width: 100%;
    height: 89px;
    border-radius: 12px;
  }

  .homepage .partners .partners-frame .box-frame img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }

  .homepage .partners .pagination-section {
    margin-top: 32px;
  }
}
