body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto Mono", monospace;
}

html,
body {
  scroll-behavior: auto;
  overflow: visible;
}
